.leaflet-container {
    width: 100%;
    height: 100%;
    margin-left: left;
    margin-top: 3%;
}

.mapid{
    text-align: center;
}

.mapGrid {
    width: 100%;
    height: 100%;
}


.listContainer{
    margin-top: 4%;
}